html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0A192F;
    color: white;
}
header {
    background-color: #172A46;
}
.larger-checkbox {
    width: 1vw;
    height: 1vw;

}
.Moviescreentext {
    margin-left: 11vw;
    position: absolute;
    top: 10vw;
    color: #172A46;
}
.welcometext {
    position: relative;
    animation-name: welcomeAnimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes welcomeAnimation {
    0% {
        color: white;
        left: 0px;
        top: 0px;
        
        
    }

    25% {
        color: lightblue;
        left: 200px;
        top: 0px;
        
       
    }

    50% {
        color: white;
        left: 200px;
        top: 200px;
    }

    75% {
        color: lightblue;
        left: 0px;
        top: 200px;
    }

    100% {
        color: white;
        left: 0px;
        top: 0px;
    }
}

.reservation {
    font-size:700%;
    animation-name: reservationAnimation;
    animation-duration: 4s;
}

@keyframes reservationAnimation {
    0% {
        color: aqua;
    }

    25% {
        color: honeydew;
    }

    50% {
        color: palevioletred;
    }

    100% {
        color: greenyellow;
    }
}