@model ATMovie.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1 style="margin-left: 6vw;">Book Movie Tickets</h1>
<br />

<form method="post">
    @foreach (Show show in ViewBag.Show)
    {
        <h3 class="Moviescreentext" style="font-family:'ROG Fonts'">@show.Salon.SalonName</h3>
        <img src="https://www.filmstaden.se/contentassets/5a722defbda447b4a538496078547948/group-20.svg" alt="Moviescreen" class="ms-5" style="width: 25vw;">

        <div style="width: 30vw;">
            @foreach (SalonRows salonrow in show.Salon.SalonRows)
            {


                @if (salonrow.Row.Seats == null)
                {
                    <p>Unable to display theater</p>
                }
                else
                {

                    <div class="row mt-4">
                        @foreach (RowSeat item in salonrow.Row.Seats)
                        {

                            <input type="checkbox" class="col aspect-ratio aspect-ratio-1x1"
                                   name="SeatIsChecked" value="@item.RowSeatId" asp-page-handler="CheckSeats" />

                        }
                    </div>
                }
                <input type="hidden" name="ShowID" value="@show.ShowID" />
            }
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="Booking" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Kundnamn" class="control-label"></label>
                    <input asp-for="Kundnamn" class="form-control" />
                    <span asp-validation-for="Kundnamn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Epost" class="control-label"></label>
                    <input asp-for="Epost" class="form-control" />
                    <span asp-validation-for="Epost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index" class="text-white">Back to Movie</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

