@model IEnumerable<ATMovie.Models.Booking>

@{
    ViewData["Title"] = "Index";
}
<div style="text-align:center; margin-top:5vw;">
    <h2>Your Ticket Reservationnumber is</h2>
    <h1 class="reservation">@ViewBag.Booking.BookingID</h1>
</div>
<div style= "margin-top: 25vw;">
    <a asp-action="Index" asp-controller="Bookings" class="text-white" style="font-size:150%;">Go to booked tickets → </a>
    <br />
    <br />
    <a asp-action="Index" asp-controller="Movies" class="text-white" style="font-size:150%; ">← Go back to Movies </a>
</div>
