@{
    ViewData["Title"] = "Home Page";
}

<div class="welcometext text-center" ">
    <h1 class="display-4"><strong>Welcome to AT Movies</strong></h1>
    <br />
    <p>Navigate to the movie tab to our range of movies and book tickets for shows!</p>
    <p>Under the bookings tab you can search for reserved tickets</p>
    <br>
    <br>
    
</div>
<a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Index">
    <div style="height: 30vw; width: 100%; background-image: url('https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg');
        background-size: cover; ">
   
    </div>
</a>
